.details--paragraph {
  color: #aba8a9;
  font: 600 1.125rem Drugs;
}

.heading-title {
  color: white;
  font-family: Dream Avenue;
  text-transform: uppercase;
  font-size: 4.375rem;
  font-weight: 100;
}
